[Unit]
Description=My Python Script Service

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/script.py
Restart=always

[Install]
WantedBy=multi-user.target
